<nav class="col-md-2 d-md-block sidebar rounded p-3">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <div class="">
                <h5>Main</h5>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/home.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link active text-dark" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/popular.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="/popular">Popular</a>
                </li>
            </div>
            <hr>
            <div class="">
                <h5>Topics</h5>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/home.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="/popular">Game</a>
                </li>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/home.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="/popular">History</a>
                </li>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/home.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="/popular">Politics</a>
                </li>
            </div>
            <hr>
            <div class="">
                <h5>Resources</h5>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/profile/about.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="/about">About</a>
                </li>
            </div>
            <hr>
            <div class="">
                <h5>Communities</h5>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/top.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark text-start" href="/communities">Top communities</a>
                </li>
            </div>
            <hr>
            <div class="">
                <h5>Settings</h5>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/settings.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="/settings">Settings</a>
                </li>
            </div>
            <hr>
            <div class="">
                <h5>Language</h5>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/lang.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="#">En</a>
                </li>
                <li class="nav-item d-flex flex-row align-items-center btn border-0 btn-outline-light px-2 py-0">
                    <img src="/images/icons/lang.png" alt="" class="img-fluid" width="24">
                    <a class="nav-link text-dark" href="#">Ru</a>
                </li>
            </div>
        </ul>
    </div>
</nav>